#canidateListParent {
	min-width: 500px;
	display: flex;
	flex-direction: column;
}
#canidateListItemLabel .canidateListItem {
	background-color: whitesmoke;
}
#canidateList {
	overflow-y: overlay;
}
#selectedRepOrSenator {
	color: deepskyblue;
}
